<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="index.html :: headerfiles">
    <meta charset="UTF-8">
    <title>New Application</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<header th:insert="index.html :: nav"></header>
<div class="container">
    <hr>
    <h2>New Application</h2>

    <form sec:authorize="hasAuthority('SUPERVISOR')" action="#" th:action="@{/saveApplication}" th:object="${application}"
          method="POST">

        <input sec:authorize="hasAuthority('SUPERVISOR')" type="text" th:field="*{email}"
               placeholder="Email"  class="form-control mb-4 col-4">

        <input type="date" th:field="*{dateFrom}"
               placeholder="From" class="form-control mb-4 col-4">

        <input type="date" th:field="*{dateTo}"
               placeholder="To" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>


    <form sec:authorize="hasAuthority('USER')" action="#" th:action="@{/saveApplicationForUser/{email}(email=${#request.remoteUser})}" th:object="${application}"
          method="POST">

        <input type="date" th:field="*{dateFrom}"
               placeholder="From" class="form-control mb-4 col-4">

        <input type="date" th:field="*{dateTo}"
               placeholder="To" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>
    <hr>
    <a th:href = "@{/}">Back</a>
</div>
</body>
</html>